@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400')

*
	outline: none !important
	box-sizing: border-box

html 
	height: 100%

body
	font-family: "Open Sans", open-sans, sans-serif
	font-size: 12px
	font-weight: 300
	color: #434C5E
	margin: 0
	letter-spacing: .25px
	line-height: 17px
	height: 100%
	display: flex
	flex-direction: column

img
	max-width: 100%
	height: auto

h1, h2, h3, h4, h5, h6, p, ul 
	margin-top: 0
	font-weight: inherit

h1, h2, h3, h4, h5, h6
	font-weight: 400
	margin-bottom: 20px

h3 
	font-size: 30px
	line-height: 34px
h5 
	font-size: 14px
	line-height: 20px
	letter-spacing: 1.2px
	text-transform: uppercase
	color: #596377

p 
	font-size: 16px
	margin-bottom: 40px

a 
	text-decoration: none !important

.container 
	width: 100%
	max-width: 1100px
	margin: auto
	padding: 50px 15px
	@media (max-width: 991px)
		max-width: 560px

.text-center 
	text-align: center

.row
	display: flex
	flex-wrap: wrap
	margin: 0 -10px

.col 
	padding: 0 10px
	margin-bottom: 15px
	width: 100%
	@media (min-width: 576px) and (max-width: 991px)
		flex: 0 0 50%
		max-width: 50%
	@media (min-width: 992px)
		flex: 0 0 25%
		max-width: 25%

.box 
	height: 100%
	display: flex
	flex-direction: column
	padding: 34px 20px
	position: relative
	border-top: 6px solid #596377
	border-radius: 5px
	transition: all .2s ease
	cursor: pointer
	box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, .05), 0 1px 2px 0 rgba(0, 0, 0, .2)
	.recommended
		position: absolute
		height: 70px
		width: 70px
		right: 0
		top: -6px
		overflow: hidden
		&:before 
			content: 'Popular'
			position: absolute
			top: 15px
			right: -22px
			width: 92px
			background-color: #7e8bc2
			color: #fff
			font-size: 9px
			font-weight: 700
			letter-spacing: 1px
			line-height: 20px
			text-transform: uppercase
			transform: rotate(45deg)
	&.enterprise
		border-top-color: #FF4070
	&:hover 
		box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .2)

.change-plan-price 
	font-size: 14px
	color: #7e8bc2
	letter-spacing: 0
	margin-bottom: 10px
	.dollar-sign
		display: inline-block
		font-size: 20px
		transform: translateY(-14px) translateX(-3px)
		vertical-align: super
	.price
		font-size: 48px
		line-height: 1

.change-plan-yearly
	color: #2681ff
	margin-bottom: 20px
	visibility: hidden

.yearly
	display: none
#row.active
	.monthly
		display: none
	.yearly
		display: inline
	.change-plan-yearly
		visibility: visible

.change-plan-summary
	font-style: italic
	color: #8C96A9
	line-height: 18px
	margin-bottom: 20px

.change-plan-summary-2
	font-size: 14px

.checkmark-list 
	color: #8C96A9
	font-size: 13px
	line-height: 24px
	list-style: none
	padding-left: 0
	margin-top: auto
	margin-bottom: 16px
	li 
		position: relative
		padding-left: 24px
		text-align: left
		margin-bottom: 6px
		&:before, &:after 
			content: ''
			position: absolute
		&:before
			transform: rotate(-45deg)
		&:after 
			transform: rotate(45deg)
			top: 6px
		&:not(.unsupported):after 
			left: 4px
			width: 4px
			height: 10px
			border: 1.5px solid #434C5E
			border-left: 0
			border-top: 0
		&.unsupported
			opacity: .4
			&:before, &:after 
				left: 6px
				top: 6px
				width: 1.5px
				height: 12px
				background-color: #8C96A9

.button
	display: inline-block
	font-size: 10px
	font-weight: 600
	text-decoration: none
	letter-spacing: .65px
	text-align: center
	text-transform: uppercase
	border-radius: 36px
	color: #fff
	padding: 9.5px 14px
	min-width: 170px
	transition: all .2s ease
	background: #11B683
	&:hover 
		background: #13cd94
	&.pink 
		background: #FF4070
		&:hover 
			background: #ff5a83

.switch-wrap
	position: relative
	padding-top: 5px
	padding-bottom: 50px
	text-transform: uppercase
	font-weight: 600
	letter-spacing: 1.3px
	line-height: 24px
	color: #919AAB
	span 
		display: inline-block
		vertical-align: middle
	label
		display: inline-block
		cursor: pointer
		margin: 0 11px
		.lever
			position: relative
			width: 44px
			height: 24px
			background-color: #2681ff 
			border-radius: 15px
			&:after
				content: ""
				display: inline-block
				position: absolute
				width: 20px
				height: 20px
				margin-top: -10px
				background-color: #fff
				border-radius: 100px
				left: 2px
				top: 50%
				transition: all .2s
		input[type=checkbox]
			opacity: 0
			width: 0
			height: 0
			position: absolute
			&:checked + .lever
				&:after
					left: 22px
	
.toggler
	cursor: pointer
#monthly 
	color: #596377
#switch-wrap.active 
	#monthly 
		color: inherit
	#yearly 
		color: #596377
